{% extends 'base.html' %}

{% block content %}

<h2 class="text-center mt-2">About Us</h2>
<hr>

<h4>Developed, Designed and Tested By:</h4>
<ul>
    <li><a class="green-link" target="none" href="https://github.com/ayushxeon">Ayush Shukla</a></li>
    <li><a class="green-link" target="none" href="https://github.com/Lameboredghini">Divyam Yadav</a></li>
    <li><a class="green-link" target="none" href="https://github.com/Ulorewien">Rohan Shingre</a></li>
    <li><a class="green-link" target="none" href="https://github.com/anonshubh">Shubh Pathak</a></li>
</ul>
<p>Contact Us @ thesynergee@gmail.com</p>
<h2>Contributors</h2>
<p>We encourage people to have a look at our repo on <a target="none" class="rcolor" href="https://github.com/anonshubh/digi-connect">Github</a>, and provide us with feedback,suggestions and inputs. They are all very much apppreciated!!</p>


{% endblock %}
