{% extends 'base.html' %}

{% block content %}
<h2 class="text-center mt-2">Terms & Policies</h2>
<a href="{% url 'connect:index' %}">Back To Home</a>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius expedita est dolorum saepe sit quod eligendi necessitatibus iusto reiciendis quaerat ipsum voluptate hic magni, ipsa inventore consequuntur maiores dolore. Praesentium!
Ut adipisci quas laborum corrupti quibusdam natus, qui neque error quis, reiciendis soluta iure explicabo. Est voluptas neque perspiciatis eos iusto ratione saepe, odit esse, doloremque voluptate quas voluptatum incidunt.
Perspiciatis debitis quam hic ut temporibus porro totam placeat necessitatibus cum reprehenderit ratione nobis autem ducimus molestiae iure nisi, voluptates illo libero. Ipsam numquam quo harum laudantium ex, sint nobis.
Laudantium velit odit, omnis nulla blanditiis voluptatibus expedita eum id ab illum, quam minus non nobis magnam dignissimos. Maxime tempora debitis iste reprehenderit nostrum reiciendis iusto suscipit ab inventore totam.
Inventore officia molestiae minima est. Asperiores consectetur iure, rem aperiam facilis ducimus, suscipit sapiente beatae ullam totam eligendi, nostrum inventore expedita explicabo dicta quis quam dolor. Dignissimos fuga ex quod?</p>

{% endblock %}