<!-- Modal -->
<div class="modal fade" id="deleteReqModal" tabindex="-1" aria-labelledby="deleteReqModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color: black;" class="modal-title" id="deleteReqModalLabel">Confirmation!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div style="color: black;" class="modal-body">
          Are You Sure Want to Delete?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a class="btn btn-danger" href="{% url 'connect:delete-request' req.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>
  