{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="intro">
        <div class="info-site">
            <h2 class="text-center mt-3">Digiconnect - Connecting People</h2>
            <p style="text-align: justify;">Even your friend is a stranger who you recognize.
                At DigiConnect we help you to recognize strangers in best situation possible as  we believe that there is a better way to bring people together.
                Our website will help you to find a perfect friend for travel , adventure, sports, gaming and much more with a pinch of randomness.
                The Main aim of this website is to connect people according to their situations in daily life.</p>
        </div>
        <br>
        <div class="text-center">
            <a class="btn btn-primary" href="#top-sectors">Explore Top Sectors</a>
            <a class="btn btn-primary mx-1 my-1" href="{% url 'connect:create-request' 1 %}">Create New Request +</a>
        </div>
        <div class="text-center mt-4">
            {% if not request.user.is_authenticated %}
                <a class="btn btn-warning mx-1" href="{% url 'account_login' %}">Log In</a>
                <a class="btn btn-warning mx-1" href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}
        </div>
</div>

<div id="top-sectors">
    <h2 class="text-center mt-2">Explore Top Sectors</h2>
    <div class="row mt-5">
        {% for sector in sectors %}
        <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
            <div class="card glass-container" >
                <img src="{{sector.image}}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <a href="{% url 'connect:display-request' sector.id 0 %}" class="btn btn-primary">Explore {{sector.name}}</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="lead">No Sectors Available :(</p>
        {% endfor %}
    </div>
    <hr>
    <!-- Footer -->
    <div class="text-center">
        <p>Made with "Code" by <span class="footer-line-1"> <a class="team-s" target="_blank" href="{% url 'connect:about' %}">Team Synergee</a> </spam> | <a class="team-s" target="_blank" href="{% url 'connect:policy' %}">Our Policies</a></p>
        <p style="font-size: large;" class="footer-line-2 lead me-2">Write Us at <em>thesynergee@gmail.com</em> |</p> 
        <a target="_blank" class="linkedin-link mx-2" href="https://twitter.com/TSynergee"><i class="fab fa-twitter fa-2x"></i></a> <a target="_blank" class="instagram-link mx-2" href="https://www.instagram.com/thesynergee/"><i class="fab fa-instagram fa-2x"></i></a> <a target="_blank" class="linkedin-link mx-2" href="https://www.facebook.com/synergee.portal"><i class="fab fa-facebook-square fa-2x"></i></a>
      </div> 
</div>


{% endblock %}
