{% extends 'base.html' %}

{% block content %}
<h3 class="text-center mt-3 mb-4">Live Request</h3>
<div class="row">
    <div class="col-lg-12 col-sm-6">
        <div class="glass-container card">
            <div class="card-body">
                <h5 class="card-title card-blackcolor text-center">{{req_object.subject}}</h5>
                <h6 class="card-subtitle mb-2 text-muted deadline-space mt-1">Deadline: {{req_object.deadline | date:'d-m-Y H:i'}}</h6>
                <hr>
                <p class="card-text card-blackcolor">{{req_object.content}}</p>
                {% if request.user != req_object.requester %}
                    {% if final_accepted %}
                        <a class="btn btn-success btn-sm ms-2 my-2" href="{% url 'connect:view-contact-sender' req_object.id %}">User Details</a>
                    {% else %}
                        {% if already_sent %}
                            <a href="{% url 'connect:addremove-sender' req_object.id %}" class="btn btn-warning btn-sm">Cancel!</a>
                        {% else %}
                            <a href="{% url 'connect:addremove-sender' req_object.id %}" class="btn btn-success btn-sm">Request :)</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if request.user == req_object.requester %}
                    <a href="{% url 'connect:list-senders' req_object.id %}" class="card-link">Received Requests</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}