{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<h2>Create New Request For {{sector.name}}</h2>
<hr>
<div class="row">
    <div class="col-lg-7 col-md-10 col-sm-12">
        <form action="{% url 'connect:create-request' sector.id %}" method="post">
            {{form|crispy}}
            <input class="btn btn-primary mt-2" type="submit" value="Let's Create :)">
        </form>
    </div>
</div>


{% block script %} <script src="{% static 'js/create-request.js' %}"></script> {% endblock %}
{% endblock %}