{% extends 'base.html' %}

{% block content %}

<h3 class="text-center">{{sector.name}}</h3>

<div class="row">
    <div class="col-lg-10 col-sm-12">
        <a class="btn btn-primary" href="{% url 'connect:create-request' sector.id %}">Create Request +</a>
    </div>
    <div class="col-lg-2 col-sm-12 mt-2">
        {% if type_ == 0 %}
            <a class="btn btn-secondary btn-sm" href="{% url 'connect:display-request' sector.id 1 %}">Show Results with "Same Gender"</a>
        {% else %}
            <a class="btn btn-secondary btn-sm" href="{% url 'connect:display-request' sector.id 0 %}">Show Original Results</a>
        {% endif %}
    </div>
</div>
<hr>
<div>
    <p class="lead">Recent Requests</p>
    {% for req in requests %}
        <div class="card glass-container my-2">
            <div class="card-body">
                <h6 class="card-subtitle card-greycolor mb-2">Deadline: {{req.deadline | date:'d-m-Y H:i'}}</h6>
                <p class="card-text card-blackcolor lead">{{req.subject}}</p>
                {% if request.user == req.requester %}
                    <button type="button" class="btn btn-danger btn-sm me-2" data-bs-toggle="modal" data-bs-target="#deleteReqModal">Delete</button>
                {% include 'connect/delete-modal_.html' %}
                {% endif %}           
                <a class="btn btn-primary btn-sm" href="{% url 'connect:detail-request' req.id %}">View Details</a>        
            </div>
        </div>
    {% empty %}
        <p>No Recent Requests :(</p>
    {% endfor %}
</div>


{% endblock %}